/* Contenedor principal: Barra lateral + Contenido */
.inicio-container {
  display: flex;
  background-color: #ffffff;
  columns: 2;
}

/* Barra lateral fija (no se desplaza con el contenido) */
.barra-lateral {
  max-width: 250px;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2; /* Asegura que la barra lateral se mantenga sobre el contenido */
}

/* Área de la derecha (Barra superior + Contenido) */
.inicio-container .contenido {
  margin-left: 250px; /* Para que no se solape con la barra lateral */
  width: calc(100vw - 250px);
  height: calc(100vh); /* Restamos la altura de la barra superior */
  display: flex;
  flex-direction: column;
}

/* Barra superior fija arriba */
.barra-superior {
  height: 4rem;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: fixed; /* Fija la barra superior en la parte superior */
  top: 0;
 /* left: 250px; /* Desplaza la barra superior a la derecha para no tapar la barra lateral */
  width: calc(100vw - 322px); /* Hace que ocupe el espacio restante */
  justify-content: space-between;
  z-index: 3; /* Asegura que la barra superior esté encima de todo */
}

/* Contenido principal que crece y tiene scroll si es necesario */
.area-contenido {
  flex-grow: 1;
  padding: 2rem;
  margin-top: 4rem; /* Asegura que el contenido no se superponga con la barra superior */
  overflow-y: auto; /* Habilita el desplazamiento solo en esta sección */
}