.barra-lateral {
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
  }
  
  .logo {
    width: 15rem; /* Tamaño reducido */
    margin-bottom: 1.5rem;
  }
  
  .menu {
    width: 100%;
    flex-grow: 1; /* Empuja el contenido inferior hacia abajo */
  }
  
  .menu-inferior {
    width: 100%;
    margin-top: auto; /* Asegura que se mantenga en la parte inferior */
  }
  
  .boton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
    background: none;
    border: none;
    cursor: pointer;
    color: #d4d4d4;
  }
  
  .boton:hover {
    color: #ea580c;
  }
  
  .boton:hover .icono {
    color: #ea580c;
  }
  
  .boton-seleccionado {
    color: #ea580c;
  }
  
  .boton-seleccionado .icono {
    color: #ea580c;
  }
  
  .icono {
    font-size: 1.5rem;
    transition: color 0.2s;
  }
  
  .texto {
    font-size: 1rem;
    transition: color 0.2s;
  }
  